@model System.Collections.Generic.List<GDStore.DAL.Interface.Domain.Suit>

@{
    ViewBag.Title = "Suits for this customer";
}
<h2>Suits for this customer</h2>

@{
    if (Model.Any())
    {
        <table class="table">
            <tr>
                <th>Suit Id</th>
                <th>Name</th>
                <th>Left Sleeve Id</th>
                <th>Right Sleeve Id</th>
                <th>Left Trouser Leg Id</th>
                <th>Right Trouser Leg Id</th>
                <th>Add alterations</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LeftSleeve.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RightSleeve.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LeftTrouserLeg.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RightTrouserLeg.Id)
                    </td>
                    <td>
                        <a>@Html.ActionLink("Add", "Add", "Alteration", new { suitId = item.Id }, new { @class = "btn btn-default" })</a>
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <h2>No suits found for this customer</h2>
    }
}